


RewriteEngine On



RewriteBase /office/mushkilasan_codeigniter/



RewriteRule ^index\.php$ - [L]



RewriteCond %{REQUEST_FILENAME} !-f



RewriteCond %{REQUEST_FILENAME} !-d



RewriteRule . /office/mushkilasan_codeigniter/index.php [L]


